{:main exceed.core
 :asset-path "/js/out"
 :output-to "target/cljsbuild/public/js/app.js"
 :output-dir "target/cljsbuild/public/js/out"
 :optimizations :none
 :source-map true
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
 :preloads        [day8.re-frame-10x.preload]
 :pretty-print true}